#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: Tomato;
  opacity: 0.2;
  color: black;
}

#customers tr:hover {
  background-color: Tomato;
  opacity: 0.5;
  color: black;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: Tomato;
  color: black;
}
